

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  max-height:  400px;
  background-color: #EBEAEE!important;
}
body a:link, li a{
    text-decoration: none;
    cursor: pointer;
}
.border{
    border: 1px #265a88  solid;
}
.transparent{
    filter: alpha(opacity=40);
    -moz-opacity: 0.40;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    -webkit-transition: all 1s ease-out;
    -moz-transition:all 1s ease-out;
    -o-transition:all 1s ease-out;
    transition: all 1s ease-out;
}
.navbar-inverse{
    -webkit-transition: all 1s ease-out;
    -moz-transition:all 1s ease-out;
    -o-transition:all 1s ease-out;
    transition: all 1s ease-out
}

/*.form-search{
    position: relative;
    top:10px; 
    float: right;
}*/

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.header-icons li{
    display: inline-block;
    float: left;
}

/* Divider */
hr.soften {
  background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0980392), rgba(0, 0, 0, 0));
  background-color: #DDDDDD;
  border:0;
  height:1px;
  margin: 70px 0;
  clear: both;
  position: relative;
}

/*********************
     Marketing Area
**********************/
.marketing {
  color:#5A5A5A;
  padding-top: 70px;
  min-height: 630px;
}

.marketing h1 {
  font-size:50px;
  font-weight:200;
  letter-spacing:-1px;
  line-height:1;
  margin:10px 0 10px;
}

.marketing h2 {
  font-weight:200;
  margin-bottom:5px;
}

.marketing .marketing-byline {
  color:#999999;
  font-size:20px;
  font-weight:300;
  line-height:1.25;
  margin-bottom:40px;
}

.marketing p {
  font-size:16px;
  line-height:1.5;
}

.marketing hr {
    margin-top: 50px;
}

.marketing h5{
    font-size: 14px;
    font-weight: bold;
}

.comment{
  border-top: 1px solid #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #428bca;
}

.custom-link, .collapse-text-toggle{
   cursor: pointer;
   text-decoration: none;
}

/*.collapse-text-toggle:hover {
    color: #222222;
}

.collapse-text-toggle:before {
    content: '\00a0(';
}

.collapse-text-toggle:after {
    content: ')';
}*/

.label-comment, .label-title{
  font-weight: bold;
  font-size: 16px;
}
.label-head-comments{
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.label-reply{
  font-weight: bold;
  font-size: 12px;
}

.timecomment{
  color: #adadae;
  font-size: 10px;
}

.img-comment, .image-mini{
  width: 64px; 
  height: 64px;
  border: #adadae 1px solid;
}

.img-reply{
  width: 50px; 
  height: 50px;
  border: #adadae 1px solid;
}

.img-posts{
  width: 150px; 
  height: 130px;
  border: 1px ccc solid;
  margin-bottom: 5px !important;
  margin-right: 10px !important;
}

.img-post{
  margin-right: auto;
  margin-left: auto;
}

.text-post{
  text-align: justify;
}

.recent-post{
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 2px 1px #dddddd,
              0px 0px 2px 0px #dddddd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  background-color: #fff;
}

.recent-post .post-title{
  color: black;
}

.recent-post img{
  width: 50px;
  height: 40px;
}
.recent-post:hover, .section:hover{
    background: #EEECEC;
}
.post, .well{
    background-color: #fff!important;
    border-color: #d7d7d7!important;
}
.section a:link{
  text-decoration: none
}
.recent-post span.glyphicon{
  font-size: 0.8em;
}

.recent-post span.glyphicon .comment-total{
  font-size: 10px;
}
.mini-images{
  margin: 5px;
  display: inline-block;
}
.top-buffer{
    padding-top:20px;
}
.loader{
    height: 500px; 
    width: 100%;
    padding-top: 200px;
}
.loader-img{
    position: relative;
}
.closeImg{
    position: absolute;
    font-size: 1.0em;
    color: #8DF3F1;
    top: 2px;
    right: 2px;
    z-index: 100;
    font-weight: bold!important;
}
.closeImg:hover{
    color: #57C1BF;
}
.img-mini-container {
    position: relative;
    width: 130px;
    height: 128px;
}
.comment-link{
   color: #888888;
}
.comment-link:hover{
   color: #666666;
}
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 0.9;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
.error-msg{
    height: 300px; 
    width: 100%;
    padding-top: 100px;
    text-align: center;
    display: table;
}
.formLogin{
  margin-right: 50px;
  margin-left: 50px;
}
/***********************/
.tags-wrapper {
    position: relative;
}
.tags-cloud .tag {
    float: left;
    padding: 4px 6px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f2f2f2;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dddddd;
}
.tags-cloud .tag:hover {
    border: 1px solid #cccccc;
}
.tags-cloud .tag:hover .cross {
    opacity: 1;
}
.tags-cloud .tag .cross {
    margin-left: 5px;
    margin-right: 3px;
    font-size: 1em;
    color: #20a28e;
    opacity: .7;
    cursor: pointer;
}
.suggestions-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
}
.suggestions-list li {
    color: #333333;
    font-weight: 600;
    padding: 4px 25px;
    font-size: 1em;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}
.suggestions-list li:hover {
    background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
    color: #20a28e;
    background: #dddddd;
}
.suggestions-list:focus{
    outline:none;
}


/************
 Footer
 ***********/
#footer {
    color: #CCCCCC;
    background-color: #333333;
    width: 100%;
    padding: 20px;
}









