<article class="well">
	<section ng-if="!myposts">
         <div class="loader" align="center">
         <div class="loader-img">
         <img src="images/loader4.gif"  width="30" style="display:table-cell; vertical-align:middle; float:none;"><br>
         <span>&nbsp;&nbsp;Cargando...</span>
         </div>
         </div>
 	</section>
	<section ng-if="myposts">
		<div class="row">
		<div class="col-xs-7">
		<h3>&nbsp;Mi Cuenta&nbsp;</h3>
		</div>
		<div class="col-xs-5 hidden-sm hidden-md hidden-lg"><span class="pull-right custom-link" role="button" ng-click="userOptions()">Opciones <i class="fa fa-caret-square-o-right"></i></span></div>
		</div>
		<div class="">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Mis Artículos</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </thead>
				<tbody ng-repeat="mypost in myposts">
				    <tr>
				    <td><h5>{{mypost.titulo}}</h5><p>{{mypost.cuerpo | htmlToText | strLimit: 150}}...</p></td>
				    <td><p data-placement="top" data-toggle="tooltip" title="Editar"><a ui-sref="root.editPost({id: mypost.id, slug: mypost.slug})" class="btn btn-primary btn-md" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-pencil"></span></a></p></td>
				    <td><p data-placement="top" data-toggle="tooltip" title="Eliminar"><button class="btn btn-danger btn-md" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="deletePost(mypost.id, $index)" ><i class="fa fa-trash-o"></i></button></p></td>
				    </tr>
				</tbody>
			</table>
		</div>
	</section>
</article>	