<div class="well sidebar-nav">
            <ul class="nav nav-list list-group">
              &nbsp;&nbsp;<li class="nav-header"><h4><strong>Opciones:</strong></h4></li>
              <!--<section>
                    <div class="loader" align="center">
                        <div class="loader-img">
                            <img src="images/loader4.gif"  width="30" style="display:table-cell; vertical-align:middle; float:none;"><br>
                            <span>&nbsp;&nbsp;&nbsp;Cargando...</span>
                        </div>
                    </div>
              </section>-->
              <li class="list-group-item section"><a ui-sref="root.account"><strong>Mi cuenta</strong></a></li>
              <li class="list-group-item section"><a ui-sref="root"><strong>Editar perfil</strong></a></li>
              <li class="list-group-item section"><a ui-sref="root"><strong>Cambiar contraseña</strong></a></li>
              <li class="list-group-item section"><a ui-sref="root"><strong>Eliminar cuenta</strong></a></li>
            </ul>
        </div>