          
          <noscript>
            <div class="div_NOSCRIPT">
                <p>
                    Para que este web site funcione correctamente, 
                    es necesario habilitar javascript en tu navegador.
                </p>
                <p>
                    <a href="http://www.enable-javascript.com/es/" target="_blank">
                    En este enlace encontrarás instrucciones de 
                    cómo habilitar javascript en tu navegador</a>
                </p>
            </div>
           </noscript>
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">  
                    <div ui-view="main" autoscroll="false"></div>       
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 right">
                  <div ui-view="sidebar" autoscroll="false"></div>
              </div>
            </div>
            <div class="modal" id="login">
              <div class="modal-dialog" >
                <div class="modal-content">
                      <div class="modal-body " ng-controller="LoginCtrl">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <br>
                        <div class="formLogin">
                        <h4>Ingresar al sitio</h4>
                        <p><span class="text-danger" ng-show="flash" ng-bind="flash"></span></p>
                        <form name="form" role="form" ng-submit="authentication(login)" >
                            <div class="form form-group">
                              <input id="login_email" ng-model="login.email" placeholder="Email" type="text" name="email"  class="form-control"  required/>
                            </div>
                            <div class="form form-group">
                              <input id="login_pass" ng-model="login.password" placeholder="Contraseña" type="password" name="password" class="form-control"  required/>
                            </div>
                            <div class="form form-group">
                              <input type="checkbox" id="no_cerrar" name="_remember_me" class="label-login select" />
                              <label for="no_cerrar" class="label-login">No cerrar sesión</label><br>
                            </div>
                            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Ingresar</button>&nbsp;&nbsp;ó&nbsp;&nbsp;<a ui-sref="root">Registrarse</a> 
                            <br><br><a ui-sref="root" role="button" data-toggle="modal" >¿Olvidó su contraseña?</a>
                        </form>
                        </div>
                      </div>
                </div>
              </div>
            </div>
