<div class="well well-lg">
   <div class="row">
       <div class="col-lg-12 center">
       <div class="panel panel-primary panel-main">
       <div class="panel-heading">
       <h4>Registro de usuario</h4>
       </div>
       <div class="panel-body">
       <form name="form" role="form" ng-submit="registration(input)" >
            <div class="form form-group">
            <input id="reg_name" ng-model="input.username" placeholder="Nombre de usuario" type="text" name="name"  class="form-control"  required/>
            &nbsp;<span class="text-danger">{{errors.username.toString()}}</span>
            </div>
            <div class="form form-group">
            <input id="reg_email" ng-model="input.email" placeholder="Email" type="email" name="email" class="form-control"  required/>
            &nbsp;<span class="text-danger">{{errors.email.toString()}}</span>
            </div>
            <div class="form form-group">
            <input id="login_pass" ng-model="input.password" placeholder="Password" type="password" name="password" class="form-control"  required/>
            &nbsp;<span class="text-danger">{{errors.password.toString()}}</span>
            </div>
            <div class="form form-group">
            <input id="login_repPass" ng-model="input.password_confirmation" placeholder="Repetir password" type="password" name="password_confirmation" class="form-control"  required/>
            &nbsp;<span class="text-danger">{{errors.password_confirmation.toString()}}</span>
            </div>
            <p style="line-height: 1.2em;"><span style="font-size: 10px;">Registrándose usted está aceptando nuestros <a href="">términos y condiciones</a> para el uso del servicio</span></p>
            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Registrarse</button>
            <br><br>
        </form>
        </div>
    </div>
       </div>
   </div>
</div>