<div class="well sidebar-nav">
            <ul class="nav nav-list list-group">
              &nbsp;&nbsp;<li class="nav-header"><h4><strong>Secciones</strong></h4></li>
              <section ng-if="!secciones" >
                    <div class="loader" align="center">
                        <div class="loader-img">
                            <img src="images/loader4.gif"  width="30" style="display:table-cell; vertical-align:middle; float:none;"><br>
                            <span>&nbsp;&nbsp;&nbsp;Cargando...</span>
                        </div>
                    </div>
              </section>
              <div ng-repeat="seccion in secciones">
              <li class="list-group-item section"><a ui-sref="root.postsBySection({slug: seccion.slug})">{{seccion.seccion}}&nbsp;<span class="badge pull-right">{{seccion.count}}</span></a></li>
              </div>
            </ul>
        </div>
        <section class="well" anchor="recientes">
            <div class="media-heading">&nbsp;&nbsp;<h4><strong>Artículos recientes:</strong></h4></div>
            <article class="recent-post" ng-repeat="post in sidebarPosts">
                <div class="media">
                    <div class="pull-left" ng-if="post.imagen">
                        <img class="media-object" src="{{post.imagen}}"/>
                    </div>
                <div class="media-body">
                    <div class="media-heading"><a ui-sref="root.post({id: post.id, slug: post.slug})"><span class="label-title">{{post.titulo}}</span></a>&nbsp;&nbsp;
                    </div>
                    <span class="fa fa-clock-o"></span>&nbsp;<span class="time-ago" time-ago from-time="{{post.created_at}}"></span>&nbsp;&nbsp;&nbsp;<span class="fa fa-comment"></span>&nbsp;<span class="comment-total">{{post.count}}</span>
                </div>
                </div>
            </article>
        </section>
    