<div class="tags-wrapper">
	<div id="tagsList" class="tags-cloud">
		<div ng-repeat="selectedTag in selectedTags" class="tag">
			<span class="tagName">{{selectedTag}}</span>
			<span>&nbsp;<b  ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
		</div>
		<input type="text" placeholder="añadir Tag" id="searchInput" ng-keydown="checkKeyDown($event)"  ng-model="searchText" ng-change="search()" class="form-control">
	</div>
	<ul id="suggestions" class="suggestion-list">
		<li ng-repeat="suggestion in suggestions" ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}" class="blockSpan">{{suggestion}}</li>
	</ul>
</div>